@model BillerViewModel

<html>

<head>
    <script src="~/content/scripts/jquery-3.6.1.js"></script>

</head>

<body>


    <form method="post">


        <div class="form-group">
            @Html.LabelFor(model=>model.Registration.RegisterId,new{@class="control-label col-md-2"})
            <div class="col-md-4">
                <select class="form-control" asp-for="Registration.RegisterId" asp-items="@(new SelectList(Model.RegistrationList,"Value","Text"))">
                    <option value="">-Select</option>
                </select>
                <input type="hidden" asp-for="Registration.RegisterId" />
                @Html.ValidationMessageFor(Model=>Model.Registration.RegisterId,"",new{@class="text-danger"})
            </div>
        </div>

        <br /><br />
        <div class="form-group">
            @Html.LabelFor(model=>model.Customer.Name,new{@class="control-label col-md-2"})
            <input type="text" asp-for="@Model.Customer.Name" />
            @Html.ValidationMessageFor(Model=>Model.Customer.Name,"",new{@class="text-danger"})
        </div>

        <div class="form-group">
            @Html.LabelFor(model=>model.RestrurantId, new{@class="control-label col-md-2"})
            <div class="col-md-4">

                <select class="form-control" asp-for="RestrurantId" asp-items="@(new SelectList(Model.RestrurantList, "Value", "Text"))">

                    <option value="">--Select--</option>
                </select>
                <input type="hidden" asp-for="RestrurantId" />
                @Html.ValidationMessageFor(Model=>Model.RestrurantId,"",new{@class="text-danger"})
            </div>
        </div>
        <br /><br />
        <div id="divPartialView">
            <partial name="_FoodListItem" model="Model" />

        </div>

        <br /><br />
        <div class="form-group">
            @Html.LabelFor(model=>model.Address, new{@class="control-label col-md-2"})
            <label class="radio-inline">
                Home
                @Html.RadioButtonFor(model => model.Address, "Home",new {@name="Address"})<br />
                @Model.HomeAddress
            </label>
            <label class="radio-inline">
                Office
                @Html.RadioButtonFor(model => model.Address, "Office",new {@name="Address"})<br />
                @Model.OfficeAddress
            </label>
        </div>

        <br /><br />

        <div class="row-mb-3">
            <label asp-for="@Model.FoodItem.price"></label>
            <br />
            <input asp-for="@Model.FoodItem.price" class="form-control" id="txtPrice" type="text" />
            @*@ <span asp-validation-for="@Model.FoodItem.price" class="text-danger"></span>*@

        </div>
        <br /><br />

        <div class="row-mb-3">
            <label asp-for="@Model.Bill.Quantity"></label>
            <br />
            <input asp-for="@Model.Bill.Quantity" class="form-control" id="txtQuantity" type="text" />
            @*@<span asp-validation-for="@Model.Bill.Quantity" class="text-danger"></span>*@

        </div>
        <br /><br />
        <div class="row-mb-3">
            <label asp-for="@Model.Bill.Discount"></label>
            <br />
            <input asp-for="@Model.Bill.Discount" class="form-control" id="txtDiscount" type="text" />

        </div>

        <br /><br />
        <div class="row-mb-3">
            <label asp-for="@Model.Bill.Total"></label>
            <br />
            <input asp-for="@Model.Bill.Total" class="form-control" id="txtTotal" type="text" />

        </div>
        <br /><br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" type="submit">Create</button>
                <br />
                <a asp-action="Index" asp-controller="BillGenerator">Back To List</a>
            </div>
        </div>
    </form>
</body>

</html>



<script type="text/javascript">

    $(document).ready(function () {
        $("#RestrurantId").on("change", event => {

            const value = $("#RestrurantId").val();
            debugger;

            $.ajax({

                url: '/BillGenerator/Foods/' + value,
                type: "GET",
                dataType: "html",
                success: function (data) {


                    $("#divPartialView").html(data);

                }
                ,
                error: function (data) {
                    alert("Error" + data.response.Text);
                }
            });


        });


         });




</script>
<script>
    $(document).ready(function () {

        $("input[type=text]").change(function () {

            console.log ("PRINT");
            CalculateSubTotal();
        });

    });
    function CalculateSubTotal() {
        var Price = $("#txtPrice").val();
        var Quanitiy = $("#txtQuantity").val();
        var Discount = $("#txtDiscount").val();

        var Total = (Price * Quanitiy) - Discount;
        $("#txtTotal").val(parseFloat(Total).toFixed(2));
    }
</script>
<script>
    $(document).ready(function () {
        $(document).on('click', '#btn', function () {
           const value = $("#RestrurantId").val();
            $.ajax({
                type: "POST",
                url: '/BillGenerator/Foods/' + value,
                dataType: "html",
                success: function (data) { $("#divPartialView").html(data); }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("input[name=checksession]").change(function () {
            debugger;
            console.log("price");
            alert('Selected Value :'+ this.value);
        });
    });
</script>





